<html><!DOCTYPE HTML><head><title>Suggester</title>
        <script type="application/x-javascript" src="{{ STATIC_URL }}jquery.min.js"></script>
		<script type="application/x-javascript" src="{{ STATIC_URL }}ajax_suggest.js"></script>
<style type="text/css" media="screen">
	<!--
.suggestionsBox {
    position: relative;
    left: 30px;
    margin: 10px 0px 0px 0px;
    width: 200px;
    background-color: #212427;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border: 2px solid #000;
    color: #fff;
}
 
.suggestionList {
    margin: 0px;
    padding: 0px;
}
 
.suggestionList li {
    margin: 0px 0px 3px 0px;
    padding: 3px;
    cursor: pointer;
}
 
.suggestionList li:hover {
    background-color: #659CD8;
}
-->
</style>

</head>
<body><form id="suggest_field" action="http://www.DynamicAJAX.com/search.php" action="POST">
		<div>
            <input type="text" id="category_suggest" name="category" onblur="fill()" onkeyup="suggest_req(this.value);" autocomplete="off" />
            <input type="submit" id="cmdSearch" name="cmdSearch" value="Search" alt="Run Search" />
        </div>
		<div class="suggestionsBox" id="suggestions" style="display: none;">
			<img src="{{ STATIC_URL }}upArrow.png" style="position: relative; top: -12px; left: 30px;" alt="upArrow" />
			<div class="suggestionList" id="autoSuggestionsList">
            </div>
			
	</div>
</form>
